:root {
  font: 14px / 1 sans-serif;
  background-color: #fafbfc;
  color: #586069;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  background-color: white;
  border: 1px solid lightgray;
  border-style: none none solid none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  position: fixed;
  width: 100%;
  opacity: .95;
}

nav {
  padding: 0rem 10rem 0rem 9rem;
}

a[href*="index"] {
  font-weight: bold;
  font-size: 18px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

a.grey {
  color: grey;
}

article a{
  font-size: 16px;
}

main {
  padding: 8rem 10rem 4rem 10rem;
}

footer {
  border: 1px solid lightgray;
  border-style: solid none none none;
  margin: 2rem;
  padding: 1rem 0rem;
}

li, ul {
  list-style: none;
  padding-inline-start: 0;
}

ul.container, header.container {
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

main .container {
  column-gap: 4rem;
}

.catpic {
  width: 325px;
  height: 325px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: .5rem;
  background-color: white;
}

.artist {
  width: 24px;
  height: 24px;;
}

.multiartist {
  display: flex;
}